.card {
  flex: 0 0 auto;
  display: flex;
}

.card > .cardContent {
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.card.show > .cardContent {
  background-color: rgb(29, 29, 29);
  font-size: 1.6em;
}

.card.open > .cardContent {
  background-color: rgb(143, 143, 143);
  color: rgb(143, 143, 143);
  cursor: pointer;

  transition: width 0.2s, height 0.2s, outline 0.2s;

}

.card.open > .cardContent:hover {
  width: 98%;
  height: 98%;
  outline: 2px solid black;
}
